{%- if article.lang %}{% set DEFAULT_LANG = article.lang %}{% endif -%}
{% extends "base.html" %}

{% block headers %}
{{ super() }}
<meta name="author" content="{{ article.author or DEFAULT_AUTHOR }}" />
<meta name="keywords" content="{{ article.tags|join(', ') }}" />
<link rel="stylesheet" media="not print" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css" />
{% endblock %}

{% block title %}{{ article.title }} — {{ super() }}{% endblock %}

{%- block content %}
<div style="margin-bottom: 2em;">
  <div>
    <h1>
      <a rel="bookmark" href="{{ SITEURL }}/{{ article.url }}"
        title="«{{ article.title|striptags }}»">
        {{ article.title }}
      </a>
    </h1>
    <div class="meta">
      {% include "includes/article_meta.html" %}
    </div>
  </div>
  <div>
    {{ article.content}}
  </div>
</div>



<!-- 来必力City版安装代码 -->
<div id="lv-container" data-id="city" data-uid="MTAyMC80NzkxNi8yNDQxMw==">
    <script type="text/javascript">
     (function(d, s) {
         var j, e = d.getElementsByTagName(s)[0];
  
         if (typeof LivereTower === 'function') { return; }
  
         j = d.createElement(s);
         j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
         j.async = true;
  
         e.parentNode.insertBefore(j, e);
     })(document, 'script');
    </script>
  <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
  </div>
  <!-- City版安装代码已完成 -->
{% endblock content -%}