{%- if article.lang %}{% set DEFAULT_LANG = article.lang %}{% endif -%}
{% extends "base.html" %}

{% block headers %}
{{ super() }}
<meta name="author" content="{{ article.author or DEFAULT_AUTHOR }}" />
<meta name="keywords" content="{{ article.tags|join(', ') }}" />
<link href="https://apps.bdimg.com/libs/highlight.js/9.1.0/styles/monokai-sublime.min.css" rel="stylesheet">
<script src="https://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
  $(function (e) {
    $("table").attr("class", "table table-bordered small");
    $("blockquote").attr("class", "blockquote small");
    $('pre').each(function (i, block) {
      hljs.highlightBlock(block);
    });
    $("#mulu").append("<a class='list-group-item list-group-item-action' style='margin-left:0em;font-size:16px;' href='#" + '' + "'>" + '目录' + "</a>");
    $("#content").children().each(function (index, element) {
      var tagName = $(this).get(0).tagName;
      if (tagName.substr(0, 1).toUpperCase() == "H") {
        var contentH = $(this).html();//获取内容
        var markid = "mark-" + tagName + "-" + index.toString();
        $(this).attr("id", markid);//为当前h标签设置id
        let spaceSize = parseInt(tagName.substr(1, 2)) - 2;
        $("#mulu").append("<a class='list-group-item list-group-item-action' style='margin-left:" + spaceSize + "em;font-size:14px;' href='#" + markid + "'>" + contentH + "</a>");//在目标DIV中添加内容   
      }
    });
  });
</script>
{% endblock %}

{% block title %}{{ article.title }} — {{ super() }}{% endblock %}

{%- block content %}
<div style="margin-bottom: 2em;">
  <div>
    <h1 id="title">
        {{ article.title }}
    </h1>
    <div class="meta">
      {% include "includes/article_meta.html" %}
    </div>
  </div>
  <div id="content">
    {{ article.content}}
  </div>
</div>




{% endblock content -%}

{% block comment %}

<div class="container">
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
      <div id="lv-container" data-id="city" data-uid="MTAyMC80NzkxNi8yNDQxMw==">
        <script type="text/javascript">
          (function (d, s) {
            var j, e = d.getElementsByTagName(s)[0];

            if (typeof LivereTower === 'function') { return; }

            j = d.createElement(s);
            j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
            j.async = true;

            e.parentNode.insertBefore(j, e);
          })(document, 'script');
        </script>
        <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
      </div>
    </div>
    <div class="col-sm-2">

    </div>
  </div>
</div>

{% endblock comment %}